.container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.container img {
  width: 100px !important;
}

.cartContainer {
  padding: 20px;
}

.cartContainer h2,
.cartContainer h3 {
  padding: 10px;
}

.cartContainer hr {
  margin: 10px 0;
}

.subtotal {
  padding: 20px;
  min-width: 300px;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border: 1px solid rgb(193, 193, 193);
  background-color: rgb(242, 241, 241);
  border-radius: 5px;
}

.subtotalContent,
.subtotal span {
  display: flex;
  gap: 20px;
}

.checkoutBtn {
  text-align: center;
  width: 100%;
  border: none;
  background-color: var(--primary-color);
  border-radius: 5px;
  padding: 5px 10px;
  text-decoration: none;
  color: black;
}

.checkoutBtn:hover {
  background-color: var(--primary-shade);
}

.cartProduct {
  display: flex;
  gap: 10px;
}

.btnContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.btn {
  padding: 5px 16px;
  font-weight: bold;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.btn:hover {
  background-color: var(--primary-shade);
  transform: translateY(-2px);
}

@media (max-width: 968px) {
  .container {
    flex-direction: column;
    order: 1;
  }
}
