.container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
.container img {
  width: 100px !important;
}
.cart-container {
  padding: 20px;
}
.cart-container h2,
.cart-container h3 {
  padding: 10px;
}

.cart-container hr {
  margin: 10px;
}

.subtotal {
  padding: 20px;
  min-width: 300px;
  height: 80%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid rgb(193, 193, 193);
  background-color: rgb(242, 241, 241);
  border-radius: 5px;
}
.subtotal a {
  text-align: center;
  width: 100px;
  border: none;
  background-color: var(--primary-color);
  border-radius: 5px;
  padding: 5px 10px;
  text-decoration: none;
  color: black;
}
.subtotal a:hover {
  background: var(--primary-shade);
}

.subtotal > div,
.subtotal span {
  display: flex;
  gap: 20px;
}

@media (max-width: 968px) {
  .container {
    flex-direction: column;
  }
}
