.result-page {
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 10px;
}

.result-page h1 {
  font-size: 28px;
  margin-bottom: 5px;
}

.result-page p {
  font-size: 16px;
  color: #555;
  margin-bottom: 10px;
}

.result-page hr {
  margin: 15px 0;
  border: 0.5px solid #ddd;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.products-container,
.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}
