.product-card {
  width: 220px;
  padding: 10px;
  gap: 25px;
  border: 1px solid transparent;
  border-radius: 6px;
  box-sizing: border-box;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  position: relative;
}

.product-card:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  border-color: #ddd;
  box-sizing: border-box;
}

.product-img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.product-title {
  font-size: 14px;
  margin: 8px 0;
}

.product-rating {
  display: flex;
  align-items: center;
  gap: 6px;
}

.product-price {
  margin-top: 6px;
  font-size: 18px;
}

/* Always occupy space, but hidden with opacity */
.button {
  width: 100%;
  padding: 10px 0;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  background-color: #ffd814; /* primary */
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease, opacity 0.2s ease;
  opacity: 0; /* hidden initially */
}

.product-card:hover .button {
  opacity: 1;
}

.button:hover {
  background-color: #f7ca00;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}
.product_flexed {
  box-shadow: none;
  height: auto;
  display: flex;
  gap: 30px;
  width: 100%;
}
.product_flexed h3 {
  padding: 20px 8px;
}
.product_flexed .button {
  display: block;
  position: static;
  width: 150px;
  margin-right: 48px;
}
.product_flexed img {
  width: 300px !important;
  height: auto;
}
@media screen and (max-width: 768px) {
  .product_flexed {
    display: flex;
    flex-direction: column;
  }
}
